body{font-style:italic;}
#main {width:425px;
height:500px;
font-family:times new roman;

margin-left:auto;
margin-right:auto;

       
	   
	
}

  .auto-style2 {
            text-align: center;
        }
 .auto-style3 {
    border: 3px ridge #C0C0C0;
    width: 1069px;
}

fieldset { border: 1px solid indigo;
            background-color:gray;
			border-radius:5px;
			font-family:times new roman;}
.a {
    border-radius: 3px;
    width: 250px;
    height: 25px;
    margin: 3px;
    padding: 3px;
    font-style: italic;
    font-family: times new roman;
    font-size: 16px;
} 
 .k { border-radius: 3px;
width:180px;
height:30px;
margin:3px;
font-size:16px;
font-style:italic;
font-family:times new roman;
background-color:indigo;
color:white;
padding:3px;
}

select { padding:5px;
         font-size:14px;
		 font-style:italic;
		 font-family:times new roman;
         width:125px;
		 height:30px;
		 border-radius:3px;}
option { border-radius:5px;}
